body {
  font-family: Helvetica, sans-serif, Arial;
  color: #333;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

button {
  color: white;
  background-color: blue;
  border-radius: 10px;
  width: 170px;
  padding: 10px;
  text-align: center;
  border: none;
  font-size: 1rem;
}
